[access "refs/*"]
	owner = group user/redirect11 (redirect11)
[access "refs/for/refs/*"]
	read = group user/redirect11 (redirect11)
	push = group user/redirect11 (redirect11)
	label-Code-Review = -2..+2 group user/redirect11 (redirect11)
	label-Verified = -1..+1 group user/redirect11 (redirect11)
	rebase = group user/redirect11 (redirect11)
	removeReviewer = group user/redirect11 (redirect11)
	submit = group user/redirect11 (redirect11)
[access "refs/heads/*"]
	read = group user/redirect11 (redirect11)
	create = group user/redirect11 (redirect11)
	push = +force group user/redirect11 (redirect11)
	pushMerge = group user/redirect11 (redirect11)
[access "refs/tags/*"]
	push = +force group user/redirect11 (redirect11)
	pushTag = group user/redirect11 (redirect11)
	pushSignedTag = group user/redirect11 (redirect11)
